@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Work Sans';
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
    font-weight: 400 600 700 800;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.2;
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p.open {
    @apply text-purple-500;
}
